/* 
    Attribution: 
    1. Sources made use of in the blog page have been referenced with hyperlinks or in an attribution section.
    2. I made use of one piece of CSS I found online to fix issues with Safari mobile. Links included with code.
    3. Colour gradients were made using an automated tool called CSS Gradient. Available from: https://cssgradient.io/
    4. Filters were made with an automated tool: filter generator. Available from: https://codepen.io/sosuke/pen/Pjoqqp
    5. Website colour scheme and design is inspired by the Ubuntu Linux distribution. Available from: https://ubuntu.com/
    6. All page transition animations were made using the swup page transition library. Available from: https://swup.js.org/
    7. Icons used in navbar and on the info page are free even without attribution. Available from: https://uxwing.com/
    8. Font used is Ubuntu. Available from: https://fonts.google.com/specimen/Ubuntu
    9. Matt Mallen created all other content, markup, and CSS. Available from: https://cs1.ucc.ie/~mm55/ca1/index.html
*/

/* START OF DEFAULT CSS. MOBILE PORTRAIT FIRST. 320PX DISPLAY.*/

/* START OF GENERAL */

html {
	background: rgb(61,3,60);
    background: linear-gradient(to right, rgba(61,3,60,1) 25%, rgba(83,7,85,1) 50%, rgba(117,20,87,1) 75%, rgba(171,41,43,1) 100%);
    overflow: auto; /* This line is included in the attribution below for the body selector */
    overflow-x: hidden;
}

/* Start of CSS used to fix Safari mobile issues.
Borrowed from: https://www.bram.us/2016/05/02/prevent-overscroll-bounce-in-ios-mobilesafari-pure-css/ */

body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
/* End of CSS used to fix Safari mobile issues. */  

/* START OF PAGE TRANSITIONS MADE WITH SWUP*/

.transition-page {
	transition: 0.25s;
	transform: translateX(0);
    transform-origin: right;
}

html.is-animating .transition-page {
	opacity: 0;
	transform: translateX(-100%);
}

html.is-leaving .transition-page {
	opacity: 0;
	transform: translateX(-100%);
}

.transition-word {
	transition: 0.25s;
}

html.is-animating .transition-word {
	opacity: 0;
	transform: translateY(-	100%)
}

html.is-leaving .transition-word {
	opacity: 0;
	transform: translateY(-100%);
}

/* END OF PAGE TRANSITIONS MADE WITH SWUP */

em, strong, i, b {
    font-style: normal;
    font-weight: normal;
}
@viewport {
    width: device-width;
}

:root {
    color: white;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}        

body, html {
    padding: 0;
    margin: 0;
}

main {
    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1D1D1D;
    z-index: 2;
}

header h1 {
    font-size: 1rem;
    letter-spacing: 0.25rem;  
    font-weight: normal;
    display: inline;
}

#name {
    width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}

#year {
    float: left;
    margin-left: 5%;
}

#topic {
        float: right;
        margin-right: 5%;
}

nav {
    bottom: 0;
    left: 0;
    display: inline-flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background: rgb(36,20,35);
    background: linear-gradient(to right, rgba(36,20,35,1) 25%, rgba(50,24,46,1) 50%, rgba(54,25,44,1) 75%, rgba(69,31,31,1) 100%); 
    z-index: 1;
}

nav a { 
    padding-left: 1rem;
    padding-right: 1rem;
}

nav img {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(32deg) brightness(104%) contrast(101%);
    width: 1.5rem;
    border: 0px solid transparent;
    margin: auto auto;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    }

nav a:hover {
	background-color: #53343C;
  } 

#active  {
    background-color: #483043;
}

h2{
	color: #4E9A06;
	font-size: 1rem;
	display: inline;
}

h3, h4{
	color: #4E9A06;
    font-size: 1rem;
    padding: 0;
    margin: 0.5rem;
    margin-left: 0rem;
    margin-top: 2rem;
}

main a:link {
	color: #DB5123;
}

main a:visited {
	color: #A5452E;
} 

/* END OF GENERAL */


/* START OF BLOG PAGE */

article {
	margin-bottom: 6rem;
    padding: 1.25rem;
    background-color: #380C2A;	
    border: solid 10px #3E3E3E;
	text-align: justify;
}

.tagline {
	border-right: 9px solid rgba(1,1,1,0);
	animation: flash 0.7s step-end infinite alternate;
	display: inline;
    color: #7F7F7F;
    padding-right: 0.3rem;
}

@keyframes flash { 
	50% { border-color: white; } 
 }

 .date {
	color: #363D80;
	display: inline;
}

.divider {
	display: inline;
}


blockquote {
    margin: 0;
    border-left: solid 5px #363D80;
    padding-left: 0.5rem;
}

/* END OF BLOG PAGE */

/* START OF PICS PAGE */

img {
    width: 90%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1.25rem;
	border: solid 10px #3E3E3E;
}

/* END OF PICS PAGE */

/* START OF INFO PAGE */

div {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background-color: #380C2A;	
    border: solid 10px #3E3E3E;
    text-align: justify;
}

address img {
    border-color: transparent;
    width: 2.5rem;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    filter: invert(20%) sepia(34%) saturate(2065%) hue-rotate(209deg) brightness(95%) contrast(89%);
    display: inline;
}

address p {
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-style: normal;
}

section p {
    padding: 0;
    margin: 0.5rem;
    margin-left: 0rem;
}

#infohead {
    display: grid;
    border-left: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 5%;
    text-align: justify;
}

#infohead img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: solid 5px #3E3E3E;
    grid-area: 1 / 1 / span 1 / span 1;
}

#infohead h2 {
    grid-area: 1 / 2 / span 1 / span 1;
}
#infohead p {
    color: #363D80;
    grid-area: 1 / 2 / span 1 / span 1;
    align-self: center;
}

section {
    border-left: solid 5px #363D80;
    padding-left: 0.3rem;
}

.standalone li {
    background-color: transparent;
    display: block;
}

.standalone {
    border-left: solid 5px #363D80;
}

.bloglist li {
    margin-bottom: 1rem;
}

.bloglist {
    border-left: solid 5px #363D80;
}

#modules {
    display: grid;
    border-left: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: justify;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    background-color: #363D80;
    width: auto;
    display: inline-block;
    margin: 0.25rem;
}
#modules li:before, .list li:before, .standalone li:before {
    content: "#";
    color: #363d80;
}

 #modules {
    border-left: solid 5px #363D80;
}

.list li {
    display: block;
    text-align: left;
}

#modules li, .list li {
    background-color: transparent;
}

hr {
    padding: 0;
}

.container {
    border-left: 0px solid transparent;
}
span::after{
    content:"\A";
    white-space: pre;
}

address span {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calling {
    margin-left: -0.6rem;   
}

address {
    margin-left: -1rem;
}
/* END OF INFO PAGE */

/* END OF DEFAULT CSS. MOBILE PORTRAIT FIRST. 320PX DISPLAY.*/

/* START OF CSS FOR MOBILE LANDSCAPE. 480PX DISPLAY */

/* START OF GENERAL */ 

@media screen and (min-width: 480px) {

    nav {
        height: 100vh;
        left: 0;
        top: 0;
        width: min-content;
        background: rgb(36,20,35);
        background: linear-gradient(to top, rgba(36,20,35,1) 25%, rgba(50,24,46,1) 50%, rgba(54,25,44,1) 75%, rgba(69,31,31,1) 100%);
        flex-direction: column;
    }
    
    nav a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    main {
        max-width: 60%;
        margin: 0 auto;
        margin-top: 3.75rem;
    }
    
    /* START OF PICS PAGE */
    img {
        width: 70%;
    }
    /* END OF PICS PAGE */ 
    
    /* END OF GENERAL */ 
    }
    /* END OF CSS FOR MOBILE LANDSCAPE. 480PX DISPLAY */


/* START OF CSS FOR TABLETS IN PORTRAIT MODE. 600PX AND 768PX DISPLAYS */

/* START OF GENERAL */

@media screen and (min-width: 600px) {
main {
    max-width: 75%;
    margin-left: 17%;
}
img {
    width: 40%;
    float: left;
    margin: 4%;
}

#infohead h2 {
    font-size: 1.5rem;
}

#infohead p {
    font-size: 1.25rem;
}
}

/* END OF GENERAL */

/* END OF CSS FOR TABLETS IN PORTRAIT MODE. 600PX AND 768PX DISPLAYS */

/* START OF CSS FOR TABLETS IN LANDSCAPE MODE. 1024PX DISPLAYS 

/* START OF GENERAL */

@media screen and (min-width: 1024px) {

    nav {
        height: 100vh;
        left: 0;
        top: 0;
        width: min-content;
        background: rgb(36,20,35);
        background: linear-gradient(to top, rgba(36,20,35,1) 25%, rgba(50,24,46,1) 50%, rgba(54,25,44,1) 75%, rgba(69,31,31,1) 100%);
        flex-direction: column;
    }

    nav a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    main {
        max-width: 75%;
	    margin: 0 auto;
	    margin-top: 3.75rem;
    }

    article h2, .date, .divider, .tagline {
        font-size: 1.75rem;
    }
    
    article h3 {
        font-size: 1.5rem;
    }

    article {
        padding: 2.5rem;
    }
/* END OF GENERAL */

/* START OF BLOG PAGE */

    .tagline {
        border-right: 14px solid rgba(1,1,1,0);
    }

/* END OF BLOG PAGE */

/* START OF PICS PAGE */

    img {
        width: 25%;
        float: left;
        margin: 1.66%;
    }

    #pics {
        overflow-x: hidden;
        padding-left: 11.5%;
    }

/* END OF PICS PAGE */

/* START OF INFO PAGE */

#infohead {
    display: block;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 3rem;
    padding: 2.5rem;
}

div p {
    margin-top: 2rem;
}

address p {
    vertical-align: top;
}



div p {
    grid-area: 2 / 1 / span 2 / span 2;
}

address span {
    float: left;
    margin-left: 2rem;
}

#infohead h2, #infohead p {
    margin-top: 3rem;
}

#infohead h2 {
    font-size: 1.7rem;
    margin-left: 0.3rem;
}

address {
    margin-top: -1.25rem;
}

#calling {
    margin-left: 2rem;
}

/* END OF INFO PAGE */
}

/* END OF CSS FOR TABLETS IN LANDSCAPE MODE. 1024PX DISPLAYS */

/* START OF CSS FOR DESKTOP/LAPTOP. 1310PX DISPLAY. */

@media screen and (min-width: 1310px) {

/* START OF GENERAL */
    p, blockquote, span, li {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.35rem;
    }

    main {
        max-width: 50%;
    }

/* END OF GENERAL */

/* START OF PICS PAGE */

    #pics {
        padding-left: 8.5%;
    }

/* END OF PICS PAGE */

/* START OF INFO PAGE */

#infohead h2, #infohead p {
    font-size: 1.7rem;
    margin-top: 4rem;
}

/* END OF INFO PAGE */
}

/* END OF CSS FOR DESKTOP/LAPTOP. 1310PX DISPLAY. */ 

/*  START OF SMALL RESPONSIVENESS FIX */

@media screen and (min-width: 1380px) {
    #infohead p {
        margin-top: 2.1rem;
    }
}

/* END OF SMALL RESPONSIVENESS FIX */